<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <h1 class="text-capitalize text-center" jhiTranslate="analysis.title">Title</h1>
            <jhi-alert></jhi-alert>
            <hr/>
            <router-outlet></router-outlet>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-control-label" jhiTranslate="analysis.typeOfAnalysis" for="typeOfAnalysis">Type of analysis</label>
                    <select id="typeOfAnalysis" name="typeOfAnalysisSelect" [(ngModel)]="selectedType" class="form-control">
                        <option *ngFor="let type of typesOfAnalysis" [value]="type.id">
                            {{type.name}}
                        </option>
                    </select>
                </div>
                <div *ngIf="selectedType==='1'" class="form-group col-md-6">
                    <label class="form-control-label" jhiTranslate="analysis.selectDateFrame">Select date frame</label>
                    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                    </ngb-datepicker>

                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day"
                              [class.focused]="focused"
                              [class.range]="isRange(date)"
                              [class.faded]="isHovered(date) || isInside(date)"
                              (mouseenter)="hoveredDate = date"
                              (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                        </span>
                    </ng-template>
                </div>
            </div>
            <div class="form-group">
                <div *ngIf="selectedType==='0'" style="width: 250px">
                    <label class="form-control-label" jhiTranslate="analysis.selectDate" for="field_date">Select date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" [(ngModel)]="dailyTypeDateSelected"
                               (ngModelChange)="getAllCitiesForSelectedDate()" required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="dailyTypeDateSelected">
                        <small class="form-text text-danger" *ngIf="!isAirPollutionDataFound"
                               jhiTranslate="analysis.noMeasurementsFound">
                            No measuremenets found on selected date
                        </small>
                        <br/>
                        <div *ngIf="isCityFound" style="width: 250px">
                            <label class="form-control-label" for="cities">Select city</label>
                            <select id="cities" name="citiesSelect" [(ngModel)]="selectedCity" class="form-control" (ngModelChange)="findAirPollutionDataBySelectedCity()">
                                <option *ngFor="let city of cities" [value]="city.id">
                                    {{city.name}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="isAirPollutionDataFound" class="form-check">
                            <label class="form-check-label" for="trendLinePm25">
                                <input class="form-check-input" type="checkbox" id="trendLinePm25" name="trendLinePm25" (change)="onPm25CheckboxSelect()">
                                <span jhiTranslate="analysis.trendLinePm25">Pm2.5 trend line</span>
                            </label>
                            <label class="form-check-label" for="trendLinePm10">
                                <input class="form-check-input" type="checkbox" id="trendLinePm10" name="trendLinePm10" (change)="onPm10CheckboxSelect()">
                                <span jhiTranslate="analysis.trendLinePm10">Pm10 trend line</span>
                            </label>
                        </div>
                        <jhi-daily-charts *ngIf="isAirPollutionCityDataFound"
                                          [dailyData]="airPollutionDailyDataFoundByCity"
                                          [trendLinePm25Checked] = "trendLinePm25Checked"
                                          [trendLinePm10Checked] = "trendLinePm10Checked"
                        ></jhi-daily-charts>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

