<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <h1 class="text-capitalize text-center" jhiTranslate="analysis.title">Title</h1>
            <jhi-alert></jhi-alert>
            <hr/>
            <router-outlet></router-outlet>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-control-label" jhiTranslate="analysis.typeOfAnalysis" for="typeOfAnalysis">Type of analysis</label>
                    <select id="typeOfAnalysis" name="typeOfAnalysisSelect" [(ngModel)]="selectedType" class="form-control" (ngModelChange)="onTypeOfAnalysisChanged()">
                        <option *ngFor="let type of typesOfAnalysis" [value]="type.id">
                            {{type.name}}
                        </option>
                    </select>
                </div>
                <div *ngIf="selectedType==='1'" class="form-group col-md-6">
                    <label class="form-control-label" jhiTranslate="analysis.selectDateFrame">Select date frame</label>
                    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [(ngModel)]="monthlyTypeDateSelected">
                    </ngb-datepicker>

                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day"
                              [class.focused]="focused"
                              [class.range]="isRange(date)"
                              [class.faded]="isHovered(date) || isInside(date)"
                              (mouseenter)="hoveredDate = date"
                              (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                        </span>
                    </ng-template>
                </div>
            </div>
            <div class="form-group">
                <div *ngIf="selectedType==='0'" style="width: 250px">
                    <label class="form-control-label" jhiTranslate="analysis.selectDate" for="field_date">Select date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" [(ngModel)]="dailyTypeDateSelected"
                               (ngModelChange)="getAllCitiesForSelectedDate()" required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="dailyTypeDateSelected">
                        <small class="form-text text-danger" *ngIf="!isAirPollutionDataFound"
                               jhiTranslate="analysis.noMeasurementsFound">
                            No measuremenets found on selected date
                        </small>
                        <br/>
                        <div *ngIf="isCityFound" style="width: 250px">
                            <label class="form-control-label" for="places" jhiTranslate="analysis.selectPlaceOfMeasurement">Select place of measurement</label>
                            <select id="places" name="placesSelect" [(ngModel)]="selectedPlace" class="form-control" (ngModelChange)="onPlaceChanged()">
                                <option *ngFor="let place of places" [value]="place.name">
                                    {{place.name}}
                                </option>
                            </select>
                            <div *ngIf="selectedPlace">
                                <label class="form-control-label" for="cities" jhiTranslate="analysis.selectCity">Select city</label>
                                <select id="cities" name="citiesSelect" [(ngModel)]="selectedCity" class="form-control" (ngModelChange)="findAirPollutionDataBySelectedCity()">
                                    <option *ngFor="let city of cities" [value]="city.id">
                                        {{city.name}}
                                    </option>
                                </select>
                            </div>
                            <small class="form-text text-danger" *ngIf="!isAirPollutionCityDataFound && selectedCity && selectedPlace"
                                   jhiTranslate="analysis.noMeasurementsFoundOnSelectedProperties">
                                No measuremenets found with selected properties
                            </small>
                        </div>
                        <div *ngIf="isAirPollutionCityDataFound" class="form-check">
                            <label class="form-check-label" for="trendLinePm25">
                                <input class="form-check-input" type="checkbox" id="trendLinePm25" name="trendLinePm25" (change)="onPm25CheckboxSelect()">
                                <span jhiTranslate="analysis.trendLinePm25">Pm2.5 trend line</span>
                            </label>
                            <br/>
                            <label class="form-check-label" for="trendLinePm10">
                                <input class="form-check-input" type="checkbox" id="trendLinePm10" name="trendLinePm10" (change)="onPm10CheckboxSelect()">
                                <span jhiTranslate="analysis.trendLinePm10">Pm10 trend line</span>
                            </label>
                        </div>
                        <div *ngIf="isAirPollutionCityDataFound">
                            <jhi-daily-charts
                                              [dailyData]="airPollutionDailyDataFoundByCity"
                                              [trendLinePm25Checked] = "trendLinePm25Checked"
                                              [trendLinePm10Checked] = "trendLinePm10Checked"
                            ></jhi-daily-charts>
                            <br/>
                            <br/>
                            <br/>
                            <table class="table table-striped" style="width: 1000px;">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Maximum</th>
                                    <th scope="col">Minimum</th>
                                    <th scope="col">Average</th>
                                    <th scope="col">Standard deviation</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Pm2.5</th>
                                        <td>{{maxPm25}}</td>
                                        <td>{{minPm25}}</td>
                                        <td>{{averagePm25}}</td>
                                        <td>{{stdPm25}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Pm10</th>
                                        <td>{{maxPm10}}</td>
                                        <td>{{minPm10}}</td>
                                        <td>{{averagePm10}}</td>
                                        <td>{{averagePm10}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Temp</th>
                                        <td>{{maxTemperature}}</td>
                                        <td>{{minTemperature}}</td>
                                        <td>{{averageTemperature}}</td>
                                        <td>{{stdTemperature}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Humidity</th>
                                        <td>{{maxHumidity}}</td>
                                        <td>{{minHumidity}}</td>
                                        <td>{{averageHumidity}}</td>
                                        <td>{{stdHumidity}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6" *ngIf="monthlyTypeDateSelected">
                    <small class="form-text text-danger" *ngIf="!isAirPollutionMonthlyDataFound && toDateSelected"
                           jhiTranslate="analysis.noMeasurementsFound">
                        No measuremenets found on selected date
                    </small>
                    <br/>
                    <div *ngIf="isMonthlyCityFound && toDateSelected && fromDateSelected">
                        <label class="form-control-label" for="placesMonthly" jhiTranslate="analysis.selectPlaceOfMeasurement">Select place of measurement</label>
                        <select id="placesMonthly" name="placesSelect" [(ngModel)]="selectedPlace" class="form-control" (ngModelChange)="onPlaceMonthlyChanged()">
                            <option *ngFor="let place of places" [value]="place.name">
                                {{place.name}}
                            </option>
                        </select>
                        <div *ngIf="selectedPlace">
                            <label class="form-control-label" for="monthlyCities">Select city</label>
                            <select id="monthlyCities" name="monthlyCitiesSelect" [(ngModel)]="selectedCityMonthly" class="form-control" (ngModelChange)="findMonthlyAirPollutionDataBySelectedCity()">
                                <option *ngFor="let city of monthlyCities" [value]="city.id">
                                    {{city.name}}
                                </option>
                            </select>
                        </div>
                        <small class="form-text text-danger" *ngIf="!isAirPollutionMonthlyCityDataFound && selectedCityMonthly && selectedPlace"
                               jhiTranslate="analysis.noMeasurementsFoundOnSelectedProperties">
                            No measuremenets found with selected properties
                        </small>
                    </div>
                    <div *ngIf="isAirPollutionMonthlyCityDataFound" class="form-check">
                        <label class="form-check-label" for="trendLinePm25">
                            <input class="form-check-input" type="checkbox" id="trendLinePm25Month" name="trendLinePm25" (change)="onPm25CheckboxSelect()">
                            <span jhiTranslate="analysis.trendLinePm25">Pm2.5 trend line</span>
                        </label>
                        <br/>
                        <label class="form-check-label" for="trendLinePm10">
                            <input class="form-check-input" type="checkbox" id="trendLinePm10Month" name="trendLinePm10" (change)="onPm10CheckboxSelect()">
                            <span jhiTranslate="analysis.trendLinePm10">Pm10 trend line</span>
                        </label>
                    </div>
                    <div *ngIf="isAirPollutionMonthlyCityDataFound">
                        <jhi-monthly-charts
                                            [monthlyData]="airPollutionMonthlyDataFoundByCity"
                                            [trendLinePm25Checked] = "trendLinePm25Checked"
                                            [trendLinePm10Checked] = "trendLinePm10Checked"
                        ></jhi-monthly-charts>
                        <br/>
                        <br/>
                        <br/>
                        <table class="table table-striped" style="width: 1000px;">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Maximum</th>
                                <th scope="col">Minimum</th>
                                <th scope="col">Average</th>
                                <th scope="col">Standard deviation</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Pm2.5</th>
                                <td>{{maxPm25}}</td>
                                <td>{{minPm25}}</td>
                                <td>{{averagePm25}}</td>
                                <td>{{stdPm25}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Pm10</th>
                                <td>{{maxPm10}}</td>
                                <td>{{minPm10}}</td>
                                <td>{{averagePm10}}</td>
                                <td>{{averagePm10}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Temp</th>
                                <td>{{maxTemperature}}</td>
                                <td>{{minTemperature}}</td>
                                <td>{{averageTemperature}}</td>
                                <td>{{stdTemperature}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Humidity</th>
                                <td>{{maxHumidity}}</td>
                                <td>{{minHumidity}}</td>
                                <td>{{averageHumidity}}</td>
                                <td>{{stdHumidity}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

