<div>
    <h2 id="page-heading">
        <span jhiTranslate="smogAnalyzerApp.airlyData.home.title">Airly Data</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-airly-data" [routerLink]="['/airly-data/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="smogAnalyzerApp.airlyData.home.createLabel">
            Create new Airly Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="airlyData">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pm25"><span jhiTranslate="smogAnalyzerApp.airlyData.pm25">Pm 25</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pm10"><span jhiTranslate="smogAnalyzerApp.airlyData.pm10">Pm 10</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="temperature"><span jhiTranslate="smogAnalyzerApp.airlyData.temperature">Temperature</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="humidity"><span jhiTranslate="smogAnalyzerApp.airlyData.humidity">Humidity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="latitude"><span jhiTranslate="smogAnalyzerApp.airlyData.latitude">Latitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longitude"><span jhiTranslate="smogAnalyzerApp.airlyData.longitude">Longitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="smogAnalyzerApp.airlyData.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let airlyData of airlyData ;trackBy: trackId">
                <td><a [routerLink]="['/airly-data', airlyData.id, 'view' ]">{{airlyData.id}}</a></td>
                <td>{{airlyData.pm25}}</td>
                <td>{{airlyData.pm10}}</td>
                <td>{{airlyData.temperature}}</td>
                <td>{{airlyData.humidity}}</td>
                <td>{{airlyData.latitude}}</td>
                <td>{{airlyData.longitude}}</td>
                <td>{{airlyData.date | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/airly-data', airlyData.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/airly-data', airlyData.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'airly-data', { outlets: { popup: airlyData.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="airlyData && airlyData.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
