<div class="container">
    <jhi-alert></jhi-alert>
    <div class="row justify-content-around">
        <div class="col-4">
            <div *ngIf="airPollutionData">
                <h2><span jhiTranslate="smogAnalyzerApp.airPollutionData.detail.title">Air Pollution Data</span> {{airPollutionData.id}}</h2>
                <hr>
                <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.pm25">Pm 25</span></dt>
                    <dd>
                        <span>{{airPollutionData.pm25}}</span>
                    </dd>
                    <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.pm10">Pm 10</span></dt>
                    <dd>
                        <span>{{airPollutionData.pm10}}</span>
                    </dd>
                    <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.temperature">Temperature</span></dt>
                    <dd>
                        <span>{{airPollutionData.temperature}}</span>
                    </dd>
                    <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.humidity">Humidity</span></dt>
                    <dd>
                        <span>{{airPollutionData.humidity}}</span>
                    </dd>
                    <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.latitude">Latitude</span></dt>
                    <dd>
                        <span>{{airPollutionData.latitude}}</span>
                    </dd>
                    <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.longitude">Longitude</span></dt>
                    <dd>
                        <span>{{airPollutionData.longitude}}</span>
                    </dd>
                    <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.date">Date</span></dt>
                    <dd>
                        <span>{{airPollutionData.date}}</span>
                    </dd>
                    <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.owner">Owner</span></dt>
                    <dd>
                        {{airPollutionData.ownerLogin}}
                    </dd>
                    <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.placeOfMeasurement">Place Of Measurement</span></dt>
                    <dd>
                        <div *ngIf="airPollutionData.placeOfMeasurementId">
                            <a [routerLink]="['/place-of-measurement', airPollutionData.placeOfMeasurementId, 'view']">{{airPollutionData.placeOfMeasurementName}}</a>
                        </div>
                    </dd>
                    <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.airlyData">Airly Data</span></dt>
                    <dd>
                        <div *ngIf="airPollutionData.airlyDataId">
                            <a [routerLink]="['/airly-data', airPollutionData.airlyDataId, 'view']">{{airPollutionData.airlyDataId}}</a>
                        </div>
                    </dd>
                </dl>

                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>

                <button type="button"
                        [routerLink]="['/air-pollution-data', airPollutionData.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
            </div>
        </div>
        <div class="col-4">
            <h2><span jhiTranslate="smogAnalyzerApp.airPollutionData.detail.subtitle">Airly Data</span></h2>
            <hr>
            <dl class="row-md jh-entity-details" *ngIf="airlyData">
                <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.pm25">Pm 25</span></dt>
                <dd>
                    <span>{{airlyData.pm25}}</span>
                </dd>
                <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.pm10">Pm 10</span></dt>
                <dd>
                    <span>{{airlyData.pm10}}</span>
                </dd>
                <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.temperature">Temperature</span></dt>
                <dd>
                    <span>{{airlyData.temperature}}</span>
                </dd>
                <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.humidity">Humidity</span></dt>
                <dd>
                    <span>{{airlyData.humidity}}</span>
                </dd>
                <dt><span jhiTranslate="smogAnalyzerApp.airPollutionData.date">Date</span></dt>
                <dd>
                    <span>{{airlyData.date}}</span>
                </dd>
            </dl>
            <button type="submit"
                    (click)="getDataFromAirly()"
                    class="btn btn-primary"
                    *ngIf="checkAirPollutionDataDate()">
                <span jhiTranslate="smogAnalyzerApp.airPollutionData.getDataAutomatically">Get data automatically</span>
            </button>
        </div>
    </div>
</div>
