<div *ngIf="isWeatherDataReceived" style="margin-top: 40px">
    <hr>
    <div class="container">
        <div class="row">
            <table class="table table-striped table-bordered" style="width: 250px">
                <tr>
                    <td jhiTranslate="home.weather.wind-speed">Wind</td>
                    <td><span>{{weatherData.windSpeed}} m/s</span></td>
                </tr>
                <tr class="w-8">
                    <td jhiTranslate="home.weather.cloudiness">Cloudiness</td>
                    <td><span>{{weatherData.cloudiness}}%</span></td>
                </tr>
                <tr class="w-8">
                    <td jhiTranslate="home.weather.pressure">Pressure</td>
                    <td><span>{{weatherData.pressure}} hPa</span></td>
                </tr>
                <tr class="w-8">
                    <td jhiTranslate="home.weather.humidity">Humidity</td>
                    <td><span>{{weatherData.humidity}}%</span></td>
                </tr>
                <tr class="w-8">
                    <td jhiTranslate="home.weather.temp-min">Temp. min.</td>
                    <td><span>{{(weatherData.tempMin- 272) | number: '2.1-1'}} &#778;C</span></td>
                </tr>
                <tr class="w-8">
                    <td jhiTranslate="home.weather.temp-max">Temp. max.</td>
                    <td><span>{{(weatherData.tempMax - 272) | number: '2.1-1'}} &#778;C</span></td>
                </tr>
                <tr class="w-8">
                    <td jhiTranslate="home.weather.sunrise">Sunrise</td>
                    <td><span>{{weatherService.convertTimestampToDateTime(weatherData.sunrise)}}</span></td>
                </tr>
                <tr class="w-8">
                    <td jhiTranslate="home.weather.sunset">Sunset</td>
                    <td><span>{{weatherService.convertTimestampToDateTime(weatherData.sunset)}}</span></td>
                </tr>
            </table>
            <h1 style="font-size: 60px; font-weight: 600; margin-left: 100px">{{weatherData.name}}<br>
                <img src={{weatherData.icon}} style="width:60px; height: 60px">
                {{(weatherData.tempMain - 272) | number: '2.1-1'}} &#778;C
            </h1>

        </div>
    </div>
</div>
